.wrSorting {
  width: 100%;
}

.sortingBtn {
  width: 50%;
  height: 50px;
  border: none;
  background: #FFFFFF;
}

.sortingBtn:active,
.sortingBtn:focus,
.sortingBtn:hover {
  border: 1px solid #2196F3;
  box-shadow: none;
  outline: none;
  color: #2196F3;
}

.activeBtn {
  width: 50%;
  height: 50px;
  border: none;
  background: #2196F3;
  outline: none;
  color: #FFFFFF;
  cursor: auto!important;
}

.sortingBtn:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sortingBtn:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}