.wrTickets {
  width: 100%;
}

.ticketsList li {
  margin: 10px 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  background: #FFFFFF;
}

.ticketRow1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;
}

.price {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #2196F3;
}

.ticketRow2 {
  width: 100%;
}

.flight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.flight:last-child {
  margin-bottom: 0;
}

.labelFlight {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #A0B0B9;
}

.infoFlight {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #4A4A4A;
}